@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #d0d0d0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

